.backgroundflash {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/frontpage.png) no-repeat center / cover fixed;
}

/* footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}--->*/

